<!doctype html>
<html>
    <head>
        <title>Add Post</title>
        <link rel="stylesheet" href="../static/styles.css" />
    </head>
    <body style="background-color: #152347be">
        <div class="navBar">
            <nav style="margin-left: 93.4%">
                <a class="logout" href="{{ url_for('logout') }}">Logout</a>
            </nav>
        </div>
        <h1 style="color: white; margin-left: 6%">Add a Post</h1>
        <div class="addPostBox">
            <form method="POST">
                <textarea
                    name="post_comment"
                    placeholder="Enter your post here"
                    required
                ></textarea
                ><br />
                <button
                    type="submit"
                    style="
                        margin-left: 83%;
                        background-color: #002856;
                        color: white;
                    "
                >
                    Submit
                </button>
            </form>
            <a href="{{ url_for('topic_posts', topic_id=topic_id) }}">Cancel</a>
        </div>
        <div
            class="addPostBox"
            style="
                height: 25%;
                width: 20%;
                margin-left: 75%;
                margin-top: -20.5%;
            "
        >
            <h1 style="margin-top: -5%">Posting Guidelines</h1>
            <br />
            1. Be Respectful
            <br /><br />
            2. Respect others privacy
            <br /><br />
            3. Be Responsible
        </div>
    </body>
</html>
