<!doctype html>
<html>
    <head>
        <title>Forum Website</title>
        <link rel="stylesheet" href="../static/styles.css" />
    </head>

    <body>
        <div class="loginShape">
            <h1>Login</h1>
            <form action="/templates/forum.html">
                <label for="username">Username</label><br />
                <input
                    type="text"
                    id="numbers"
                    name="numbers"
                    class="fieldinput"
                />
                <br />
                <label for="password">Password</label><br />
                <input
                    type="text"
                    id="password"
                    name="numbers"
                    class="fieldinput"
                />
                <br />
                <input
                    type="submit"
                    value="Login"
                    style="
                        width: 20%;
                        background-color: #002856;
                        color: white;
                        font-family: Calibri;
                        font-size: 16px;
                    "
                />
            </form>
            <br />
            <button 
                onclick="window.location.href='signup';" 
                style="
                    width: 20%;
                    background-color: #002856;
                    color: white;
                    font-family: Calibri;
                    font-size: 16px;
                    margin-top: 10px;
                "
            >
                Don't have a login ? Sign up here!
            </button>
            <div class="loginStyle"></div>
        </div>
    </body>
</html>
