<!doctype html>
<html>
    <head>
        <title>Forum Homepage</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>

    <body style="background-color: white">
        <div class="navBar">
            <span class = "welcome">Welcome, {{ user.username }}!</span>
            <nav>
            <a class = "logout" href="{{ url_for('logout') }}">Logout</a>
            </nav>

        </div>
        <br>
        <h2 class = "topics_main">UC Merced Forum Topics</h2>


        <div class="container">
            {% for topic in topics %}
                <div class="topics">
                    <a href="{{ url_for('topic_posts', topic_id=topic.topic_id) }}">
                        <div class="forumTopicButton">
                            <div class="backgroundImage" style="background-image: url('/static/{{ topic.topic_title.replace(" ", "_") }}.jpeg');"></div>
                            <div class="textContent">{{ topic.topic_title }}</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        

        
    </body>
</html>
