<!doctype html>
<html>
    <head>
        <title>Forum Homepage</title>
        <link rel="stylesheet" href="../static/styles.css" />
    </head>

    <body style="background-color: white">
        <div class="navBar" style="font-size: 20px; background-color: #002856">
            UCM Forum Temporary Text
        </div>
        <div
            class="navBar"
            style="
                font-size: 20px;
                background-color: #caa52b;
                height: 1%;
                margin-top: 2.3%;
            "
        ></div>
        <h1>Topics</h1>
        <button class="forumTopicButton">
            <h1>UCM Events</h1>
            <div></div>
        </button>
        <button class="forumTopicButton"><h1>UCM Course Discussion</h1></button>
        <button class="forumTopicButton"><h1>UCM Alerts</h1></button>
        <div class="sideBar"></div>
    </body>
</html>
