<!doctype html>
<html>
    <head>
        <title>Topic Posts</title>
        <link rel="stylesheet" href="/static/styles.css" />
    </head>

    <body style="background-color: white">

<div class="navBar">
    <span class = "welcome">Welcome to {{ topic.topic_title }}!<br></span>
    <nav>
    <a class = "logout" href="{{ url_for('logout') }}">Logout</a>
    </nav>
</div>

<div>
    <div class = "topic_desc">
    <span class = "desc">Description: {{topic.topic_desc}}</span>
    </div>
    <div class = "posts_list">
    <ul>
        {% for post in posts %}
        <li class = "post">
            <a href="/post/{{post.post_id}}">
            Replace_with_Username:<hr>
            <p>{{post.post_comment}}</p>
            <small>Posted: {{post.post_time_date}}</small>
            </a>
        </li>
        <br>
        {%else%}
            <li>
                No posts have been made on this topic yet!
            </li>
        {% endfor %}
    </ul>
</div>
        
    </body>
</html>
